<!-- <div class="form-group flex flex-col items-start @@common-style">
    <label class="text-base text-dark-green leading-[130%] mb-2 @@styleLabel" for="@@idInput">@@label</label>
    <input
        class="rounded text-black-1 leading-[150%] border text-h10 w-full focus:outline-0 focus:shadow-none focus:ring-0 focus:border-border-color-3 border-border-color-3 p-3 @@styleInput"
        type="@@type" id="@@idInput" placeholder="@@placeholder">
    <small class="self-end text-h11 text-danger mt-2 @@errorStyle">text error</small>
</div> -->