<div class="form-group flex flex-col items-start @@common-style">
    <label class="text-none" for="@@idInput">@@label</label>
    <input
        class="input rounded-full text-primary border text-body3 w-full focus:outline-0 focus:shadow-none focus:ring-0 focus:border-border-2 border-border-2 py-4 pl-6 pr-2 md:py-3 md:pl-4 md:pr-2 md:text-body6 @@styleInput "
        type="@@type" id="@@idInput" placeholder="@@placeholder">
    <small class="self-end text-h11 text-danger mt-3 @@errorStyle">Name is required</small>
</div>