<a href='@@link'
	class='mini-blog-card flex items-center overflow-hidden transition hover:shadow-shadow-3 gap-x-5 @@style'>
	<div class='overflow-hidden min-w-[172px] flex items-center justify-center h-full @@imgStyle'>
		<img class='object-cover h-full lazy' data-src="@@image" alt="@@imageAlt">
	</div>
	<div class='flex flex-col py-3 pr-3'>
		<time class='text-body5 block mb-3 tracking-[1px] uppercase text-grey-1 md:text-body8'
			datetime="@@date">@@date</time>
		<span class='text-body2 block mb-2 text-primary md:text-body6 md:mb-0'>@@title</span>
		<p class='mini-blog-card__text text-grey-1 text-body3 md:hidden'>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit.
			Suspendisse varius enim adipiscing elit. Suspendisse varius enim adipiscing elit. Suspendisse varius enim
			adipiscing elit. Suspendisse varius enim adipiscing elit. uspendisse varius enim...</p>
		<span
			class='text-danger text-body7 font-medium tracking-[1.6px] uppercase mt-4 mb-1 hover:text-primary transition-colors'>Read
			More</span>
	</div>
</a>