@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.bg-tiles {
		background-size: 73px 73px;
		background-image: linear-gradient(currentColor 1px, transparent 1px),
			linear-gradient(to right, currentColor 1px, transparent 1px);
		@apply -m-0.5;
	}
}

@layer components {
	.container {
		@apply minsm:max-w-[640px] minmd:max-w-[768px] minlg:max-w-[1024px] minxl:max-w-[1280px] px-2;
	}
}

@layer base {
	html {
		font-family: 'Poppins', system-ui, sans-serif;
		@apply text-primary;
	}
}

.blog-card__text {
	display: -webkit-box;
	-webkit-line-clamp: 3; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.mini-blog-card__text {
	display: -webkit-box;
	-webkit-line-clamp: 2; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.input::placeholder {
	letter-spacing: -0.032px;
	@apply text-body5 uppercase text-grey-1;
}

.fire-icon {
	background: url(../img/Fire-icon.svg);
	@apply h-[95px] w-[80px] block bg-100-auto bg-center bg-no-repeat;
}

.dumbbell-icon {
	background: url(../img/dumbbell-icon.svg);
	@apply h-[104px] w-[110px] block bg-100-auto bg-center bg-no-repeat;
}

.apple-icon {
	background: url(../img/apple-icon.svg);
	@apply h-[104px] w-[110px] block bg-100-auto bg-center bg-no-repeat;
}

.pagination-num {
	@apply h-[52px] w-[52px] flex cursor-pointer items-center justify-center rounded-full bg-secondary text-t2 font-medium uppercase transition;

	&.active {
		@apply bg-primary text-white;
	}
}

.arrow-left-black {
	background: url(../img/arrow-left-black.svg);
	@apply h-[23px] w-[13px] block bg-100-auto bg-center bg-no-repeat;
}

.arrow-right-white {
	background: url(../img/arrow-right-white.svg);
	@apply h-[23px] w-[13px] block bg-100-auto bg-center bg-no-repeat;
}

.bg-1 {
	background: url(../img/bg-1.png);
	@apply h-[100%] w-[100%] block bg-cover bg-center bg-no-repeat opacity-15;
}

.share-icon {
	background: url(../img/share.svg);
	@apply h-[20px] w-[20px] block bg-100-auto bg-center bg-no-repeat;
}

@media (max-width: 1279.98px) {
}

@media (max-width: 1023.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 639.98px) {
}

@media (max-width: 424.98px) {
}
